[submodule "third-party/freertos"]
	path = third-party/freertos
	url = https://github.com/cjlano/freertos.git
[submodule "third-party/uChttpserver"]
	path = third-party/uChttpserver
	url = https://github.com/rafalo235/uChttpserver.git
